@font-face {
    font-family: Raleway;
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Black.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Medium.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Regular.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Light.woff') format('woff');
}

/* colors light */
:root{
    --color_white:#fff;
    --color_black:#1A2029;
    --color_gray:#14161D;
    --color_light_gray:#F8F8F8;
    --color_dark_gray:#31353F;
    --color_light_purple:#8C77ED;
    --color_blue:#3A6FF8;
    --color_green:#1ECB4F;
    --color_light_red:#F46D22;
}


/* colors dark */
:root[data-theme="dark"] {
    /* --color_white:#cb0909; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Raleway;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: 100px 100vh;
    grid-template-areas: "aside header" "aside main";
    background-color: var(--color_light_gray);
}



h1{
    color: var(--color_white);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    /* background-color: #1ECB4F; */
    grid-area: header;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
aside{
    /* background-color: #3A6FF8; */
    grid-area: aside;
    position: fixed;
    width: 20%;
    height: 100%;
    border-right: 2px solid rgba(0, 0, 0, 0.12);
    padding: 32px;
    overflow-y: auto;
}

main{
    /* background-color: #F46D22; */
    grid-area: main;
}


aside .logo{
    display: flex;
    align-items: center;
    gap: 7px;
}

aside .logo span{
    font-size: 21px;
    font-weight: 700;
}

.navigation-sidebar{
    margin-top: 2.7rem;
}

.navigation-sidebar li{
    margin-bottom: 32px;
}

.navigation-sidebar li a{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation-sidebar li a span{
    color: var(--color_black);
    font-size: 14px;
    font-weight: 600;
}

.active_link_sidbar{
    background-color: var(--color_blue);
    padding: 12px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.active_link_sidbar *{
    color: var(--color_white) !important;
}

.active_link_sidbar avg path{
    fill: var(--color_white) !important;
}

.navigation-sidebar li:nth-child(6){
    margin-bottom: 20rem;
}

.toggle_darkmode{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 4rem;
}

.toggle_darkmode button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.toggle_darkmode .active_darkmode{
    background-color: var(--color_white);
    padding: 10px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}