@media (max-width:999px){
    body{
        grid-template-areas:"header header""main main";
    }
    aside,.title_header,header .search_box_header{
        display: none;
    }
}

@media (min-width:1000px){
    .burger_menu,main .search_box_header{
        display: none;
    }
}