@media (max-width:999px){
    body{
        grid-template-areas:"header header""main main";
    }
    aside,.title_header,header .search_box_header,.full_name_user{
        display: none;
    }
    header{
        padding: 8px;
    }
    header .user_action{
        gap: 1.5rem;
    }
    aside{
        width: 68%;
        z-index: 999;
        background-color: var(--color_white);
    }
}

@media (min-width:1000px){
    .burger_menu,main .search_box_header{
        display: none;
    }
}