*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Raleway;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: 100px 100vh;
    grid-template-areas: "aside header" "aside main";
    background-color: var(--color_light_gray);
}

/* colors light */
:root{
    --color_white:#fff;
    --color_black:#1A2029;
    --color_gray:#14161D;
    --color_gray-300:#D1D5DB;
    --color_light_gray:#F8F8F8;
    --color_dark_gray:#31353F;
    --color_light_purple:#8C77ED;
    --color_blue:#3A6FF8;
    --color_green:#1ECB4F;
    --color_50AF95:#50AF95;
    --color_light_red:#F46D22;
    --color_353E4D:#353E4D;
    --color_F5B300:#F5B300;
    --color_1E2A41:#1E2A41;
}


/* colors dark */
/* :root[data-theme="dark"] .box_shadow{
   background-color: var(--color_black);
} */

h1{
    color: var(--color_white);
}

@font-face {
    font-family: Raleway;
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Black.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Medium.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Regular.woff') format('woff');
}
@font-face {
    font-family: Raleway;
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Light.woff') format('woff');
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.box_shadow{
    background-color: var(--color_white);
}
header{
    /* background-color: #1ECB4F; */
    grid-area: header;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px;
    gap: 10px;

}
aside{
    /* background-color: #3A6FF8; */
    grid-area: aside;
    position: fixed;
    width: 20%;
    height: 100%;
    border-right: 2px solid rgba(0, 0, 0, 0.12);
    padding: 32px;
    overflow-y: auto;
}

main{
    /* background-color: #F46D22; */
    grid-area: main;
    padding: 8px;
}


aside .logo{
    display: flex;
    align-items: center;
    gap: 7px;
}

aside .logo span{
    font-size: 21px;
    font-weight: 700;
}
.navgation_sidbar{
    margin-top: 2.7rem;
}
.navgation_sidbar li {
    margin-bottom: 32px;
}
.navgation_sidbar li:nth-child(6){
    margin-bottom: 20rem;
} 
.navgation_sidbar li a{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navgation_sidbar li a span{
    color: var(--color_black);
    font-size: 14px;
    font-weight: 600;
}

.active_link_sidbar{
    background-color: var(--color_blue);
    padding: 12px ;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.active_link_sidbar *{
    color: var(--color_white)  !important;

}
.active_link_sidbar svg path{
    fill: var(--color_white)  !important;

}
.toggle_darkmode {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 4rem;
}
.toggle_darkmode button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.toggle_darkmode .active_darkmode{
    background-color: var(--color_white) ;
    padding: 10px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.title_header h5{
    color: var(--color_black);
    font-size: 32px;
    font-weight: 700;
}
.search_box_header{
    width: 52%;
    height: 44px;
    /* background-color: var(--color_white); */
    border-radius: 8px;
    padding: 0 20px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.search_box_header input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
}
.search_box_header button{
    position: absolute;
    right: 20px;
    top: 22%;
    background-color: transparent;
    border: none;
}
header .user_action{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
header .user_action .message_user button{
    border: none;
    padding: 10px;
    
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
header .user_info{
    display: flex;
    gap: 15px;
}
header .user_info .full_name_user{
    margin-top: 5px;
    cursor: pointer;
}
.full_name_user span:last-child{
    position: relative;
    top: 5px;
}
.burger_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 2px solid var(--color_gray-300);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.search_box_main{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.search_box_main form{
    width: 100%;
    margin-bottom: 20px;
}

.d_block{
    display: block !important;
}
.bg_cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.1);
    position: fixed;
    display: none;

}
.container_main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.9rem;
    padding-bottom: 0.5rem;
   
}
.header_letf_content_main span{
    color: var(--color_black);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.header_letf_content_main div {
    display: flex;
    align-items: center;
    gap: 19px;
    margin: 8px 0;
}
.header_letf_content_main div h6{
    color: var(--color_gray);
    font-size: 32px;
    font-weight: 600;
}
.chart_bitcoin{
    margin-top: 1.8rem;
    padding: 32px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.row_chart_bitcoin{
    display: flex;
    justify-content: space-between;
}
.row_chart_bitcoin h5{
    color: var(--color_gray);
    font-size: 24px;
    font-weight: 700;
}
.filter_chart_bitcoin{
    display: flex;
    gap: 16px;
    align-items: center;
}

.filter_chart_bitcoin .dropdwon_filter,.filter_chart_bitcoin .modal_filter{
    height: 32px;
    border: 1px solid var(--color_dark_gray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.filter_chart_bitcoin .dropdwon_filter{
    height: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
 
}
.filter_chart_bitcoin .dropdwon_filter span{
    color: var(--color_black);
    font-size: 10px;
    font-weight: 700;
    opacity: 0.6;
}
.filter_chart_bitcoin .modal_filter{
    padding: 7px;

}
.row_bitcoin_btc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
}
.filter_btc > div {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}
.filter_btc > div h5{
    color: var(--color_black);
    opacity: 0.6;
    font-size: 14px;
    font-weight: 500;
}
.filter_btc > span{
    color: var(--color_black);
    font-size: 18px;
    font-weight: 700;
}
.filter_btc_page button{
    height: 22px;
    background-color: transparent;
    border: 1px solid var(--color_dark_gray);
    font-size: 10px;
    font-weight: 500;
    color: var(--color_353E4D);
    padding: 0 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.filter_btc_page .active_btn{
    background-color: var(--color_blue);
    color: var(--color_black);
    border: none;
}
.border_raduis_20{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.operation_section{
    margin-top: 30px;
    padding: 30px;
   
}
.row_header_operation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row_header_operation span:first-child{
    color: var(--color_gray);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
}
.buttons_operation{
    background-color: var(--color_light_gray);
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.buttons_operation button{
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    color: var(--color_gray);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.56px;

}
.buttons_operation .active_btn_operation{
    background-color: var(--color_white);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.row_header_operation span:last-child{
    color: var(--color_gray);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.56px;
}
.operation_buy_bitcoin{
    display: flex;
    margin-top: 22px;
    gap: 24px;
}
.row_operation_buy{
    width: 78%;
}
.info_bitcoin_operation:not(:last-child){
    margin-bottom: 22px;
}
.info_bitcoin_operation h5{
    color: var(--color_black);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 6px;
}
.section_info_bitcoin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color_light_gray);
    padding:  8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.filter_buy_bitcoin{
    padding: 5px 7px;
    background-color: var(--color_white);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.filter_buy_bitcoin .icon_filter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.filter_buy_bitcoin span{
    color: var(--color_gray);
    font-size: 14px;
    font-weight: 700;
}
.price_buy_bitcoin{
    display: flex;
    gap: 1.8rem;
    align-items: center;
}
.price_buy_bitcoin span:first-child{
    color: var(--color_gray);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
}

.price_buy_bitcoin span:last-child{
    background-color: var(--color_light_purple);
    padding: 5px 8px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.4px;
}
.bg_color_50AF95{
    background-color: var(--color_50AF95);
}
.bg_color_F5B300{
    background-color: var(--color_F5B300);
}
.btn_operation_buy{
    display: flex;
    align-items: center;
    justify-content: center;
    width:22%;
    color: var(--color_white);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    border: 1px solid var(--color_1E2A41);
    background-color: var(--color_1E2A41);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.section_coins{
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    gap: 1.9rem;
}
.card_coin{
    padding: 32px 19px;
}
.d_flex{
    display: flex;
}
.justify_content_between{
    justify-content: space-between;
}

.align_items_center{
    align-items: center;
}

.header_card_coin{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.left_header_card_coin{
    gap: 19px;
}
.text_header_card_coin h6{
    color: var(--color_gray);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.text_header_card_coin span{
    color: var(--color_gray);
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
}
.right_header_card_coin svg{
    position: relative;
    top: -7px;
}
.body_card_coin {
    margin-top: 20px;
    gap: 1.5rem;
}
.left_body_card_coin h5{
    color: var(--color_gray);
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 19px;
}
.left_body_card_coin span{
    font-size: 14px;
    font-weight: 600;
}

.color_1ECB4F{
    color: var(--color_green);
}
.color_F46D22{
    color: var(--color_light_red);
}
.section_portfolio{
    margin-top: 30px;
    padding: 24px;
}
.section_portfolio h5{
    color: var(--color_gray);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
.row_portfolio:not(:last-child){
    margin-bottom: 30px;
}
.info_row_portfolio{
    gap: 20px;
}
.text_portfolio h6{
    color: var(--color_gray);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.text_portfolio span{
    color: var(--color_gray);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}
.flex_dir_column{
    flex-direction: column;
}
.action_row_portfolio span:first-child{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 7px;
}
.action_row_portfolio span:last-child{
    color: var(--color_gray);
    font-size: 14px;
    font-weight: 600;
}
.align_items_end{
    align-items: end;
}